/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */


nav li {
  background-color: none;
  border: 2px solid #a66;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
  maring-bottom: 0.25rem;
  list-style: none;
  text-align:center;
  font-size: 1.3rem;
  line-height: 0.8rem;
  
}

nav li a {
  text-decoration: none;
}

header {
  font:
    normal normal bold normal 1.4rem/1.5 Times-new-roman, serif;
  letter-spacing: 3.5px;
  text-align:center;
}

h2 {
  font:
    normal normal bold normal 1.6rem/2 Times-new-roman, serif;
  letter-spacing: 2px;
  text-align:center;
}

p {
  font-size: 1rem;
}

html {
  padding: 3rem;
}

body {
  font:
    normal normal normal normal 10px/2 Helvetica,
    Arial,
    sans-serif;
}

section h2 + p {
  text-indent: 2rem;
}

a {
  color: #a66;
}

a:hover {
   text-decoration: none;
}

a:active {
  font-weight: bold;
   background-color: yellow;
}

section a:after {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.25em;

  background-size: 100%;
  background-image: url("external-link-52.png");
}

aside li {
  font-size: 1rem;
  list-style-type: square
}

section li {
  font-size: 1rem;
}
